button {
  background-color: #760052; /* Green */
  border: none;
  color: white;
  padding: 10px;
  width: 170px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #f211ae;
}
button img {
  vertical-align: middle;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.activeUser {
  background-color: #f211ae;
}
.activeUser:hover {
  background-color: #760052;
}
